.container .title{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text{
    color: #f7d354;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div{
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movies-container div img{
    max-width: 100%;
}

.movies-container div img,
.movies-container div p{
    margin-bottom: 1rem;
}

.movies-container div svg{
    color: #f7d354;
    margin-right: .3rem;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: 1rem .5rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .4s;
}

.movies-container div a:hover{
    background-color: transparent;
    color: #f7d354;
}

@media only screen and (max-width: 900px){
    .movies-container div{
        width: 48%;
    }
}

@media only screen and (max-width: 500px){
    .movies-container div{
        width: 100%;
    }

    .container .title{
        font-size: 2rem;
        margin-left: 30px;
        margin-right: 30px;
    }
}